table{
	width: 80%;
	margin: auto;
	}
th{ 
	background-color: darkblue;
	border: 2px solid;
	color: white;
	height:30px;
}
td{
	height:25px;
	padding:0.5px;
}
tr:nth-child(even){
	background-color: lightgray;
}
tr:nth-child(odd){
	background-color: lightblue;
}
img{
	width: 50px;
	height: 20px;
}