/* estilo da pagina / CSS */
		@font-face {
			font-family: 'kavivanar';
			src: url('fonts/Kavivanar.ttf');
		}
		body{
			font-family: 'arial';
			font-size: 15pt;
			color: rgba(0,0,0,0.5);
			background-color: lightblue;
		}
		h1, h2 {
			font-family: 'kavivanar';
			font-style: italic;
			color: darkblue;

		}
		h2 {
			font-style: italic;
			color: blue;
			background-color: lightgreen;	
		}
		.fundo{
			background-color: lightyellow;
			border: 1px solid;
			border-color: rgba(0,0,0,0.5);
		}
		.cor-fonte{
			color: green;
		}
		#paragrafo2:hover{
			color: orange;
		}
		