/* estilo da pagina / CSS */
		body{
			font-family: "Crimson Text","Times New Roman", serif;
			font-size: 120%;
			background-color: #f2fffc;
		}
		h1, h2 {
			font-family: "Open Sans Condensed", "Arial", sans-serif;
			}
		h1 {
			text-align: center;
			background-color: #851944;	
			color: #fff;
		}
		p {
			text-align: justify;
		}
		