*{
	margin: 0px;/* espaçamento externo */
	padding: 0px;/* espaçamento interno */
}
#div-container {
	width: 1000px;
	margin: auto;
}
#div-cabecalho {
	background-color: red;
	margin: 10px;
	width: 1000px;
	height: 70px;
	}
#div-menu-barra {
	background-color: green;
	margin: 10px;
	width: 1000px;
	height: 50px;
}
#div-corpo {
	margin: 10px;
	width: 1000px;
	height: 500px;
}

#div-menu-lateral {
	background-color: yellow;
	width: 150px;
	height: 500px;
	float: left;
}

#div-conteudo {
	background-color: orange;
	width: 840px;
	height: 500px;
	float: right;
	margin-left: 10px;
}
#div-rodape {
	background-color: cyan;
	margin: 10px;
	width: 1000px;
	height: 70px;
	}