table, th, td{
	border: 1px dotted;
}
table{
	width: 70%;
	margin: auto;
}
.colnome{
	width: 60%;
}
td{
	text-align: center;
}
tr:nth-child(even){
	background-color: yellow;
}
tr:nth-child(odd){
	background-color: lightgreen;
}